BOT_TOKEN=8348398218:AAGSkx3bsgFU1TrtV0Jjj4JyJNK7WPD7vz4
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyu7AiCqiP5U5wmC0NShhoxrwbNB73EAfZTuETuscrxkkbxNU3KZsR8ISHRm5PDd3fmwA/exec
API_KEY=fitromeo_2026_secret_777shumr
SUPER_ADMIN_ID=332869022
